/* ******************************************* 
                DEFAULT CSS
********************************************* */
:root {
    --theme-color: #4BAF47;
    --color-secondary: #EDF7ED;
    --body-color: #878680;
    --white-color: #ffffff;
    --bg-color: #F8F7F0;
    --black-color: #24231D;
    --border-color: #E3E3E3;
    --border-color-2: #333F4D;
    --box-shedow: 0px 41.04px 42.48px rgba(0, 0, 0, 0.053);
    --gradient-color: linear-gradient(180deg, rgba(36, 35, 29, 0.8) 0%, #4BAF47 99.98%, #4AAD46 99.99%);
    --body-font: "Manrope", sans-serif;

}

body {
    font-family: var(--body-font);
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    margin-bottom: 15px;
    line-height: 1.5;
}

img {
    max-width: 100%;
    height: auto;
}

h1 {
    font-size: 68px;
    line-height: 78px;
    font-weight: 800;
}

h2 {
    font-size: 48px;
    line-height: 57px;
    font-weight: 800;
}

h3 {
    font-size: 22px;
    line-height: 30px;
}

h4 {
    font-size: 16px;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

.tp-list-style,
.tp-list-style ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

.far {
    font-family: 'Font Awesome 5 Free';
    font-weight: 600 !important
}

a,
a:hover,
img,
.btn,
.btn:hover,
.btn:focus,
.btn:hover:focus,
button,
button:hover,
.theme-btns,
.theme-btns:focus,
.theme-btns:hover:focus {
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    text-decoration: none;
}

/* ******************************************* 
                  Theme Button CSS
  ********************************************* */
.theme-btns,
input[type="submit"],
button[type="submit"] {
    font-size: 16px;
    font-weight: 600;
    line-height: 25px;
    padding: 15px 32px;
    display: inline-flex;
    align-items: center;
    position: relative;
    transition: all .35s;
    border-radius: 5px;

}

.theme-btns:before {
    animation: opacityFallbackOut .5s step-end forwards;
    backface-visibility: hidden;
    background-color: var(--black-color);
    clip-path: polygon(-1% 0, 0 0, -25% 100%, -1% 100%);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transform: translateZ(0);
    transition: clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1), -webkit-clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1);
    width: 100%;
    border-radius: 5px;
}

.theme-btns:hover:before {
    animation: opacityFallbackIn 0s step-start forwards;
    clip-path: polygon(0 0, 101% 0, 101% 101%, 0 101%);
}

.theme-btns span {
    position: relative;
}

.theme-btns i {
    position: relative;
    top: 1px;
    margin-left: 5px;
    transition: .4s;
}

.theme-btns:hover i {
    margin-left: 10px;
    margin-right: -5px;
}

strong {
    font-weight: 600;
}

a {
    display: inline-block;
    text-decoration: none;
}

a,
.td-transition,
.comment-meta .fn,
.comment-reply-link,
.no-comments,
input[type=submit],
button[type=submit] {
    -webkit-transition: .3s;
    transition: .3s;
}

button {
    cursor: pointer;
}

table td a {
    font-weight: 600;
}

img {
    max-width: 100%;
    height: auto;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
    border: 1px solid;
    padding: 15px;
    box-shadow: none;
    outline: none;
    width: 100%;
    margin-bottom: 30px;
    border-radius: 5px;
}

textarea {
    height: 120px;
    width: 100%;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}

input:focus,
input[type=text]:focus,
input[type=email]:focus,
input[type=password]:focus,
input[type=url]:focus,
input[type=search]:focus,
input[type=tel]:focus,
input[type=number]:focus,
input[type=date]:focus,
textarea:focus {
    box-shadow: none;
    outline: none;
}

form.search-form label,
form.search-form input {
    margin-bottom: 0;
    width: 100%;
    border-radius: 5px;
}

form.search-form {
    position: relative;
}

form.search-form .search-submit {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 60px;
    font-size: 18px;
}

code {
    font-weight: normal;
}

pre {
    padding: 30px;
    border-radius: 5px;
    font-weight: 400;
    margin-bottom: 25px;
    margin-top: 30px;
}

table {
    width: 100%;
    margin-bottom: 35px;
    margin-top: 15px;
    border-left: 1px solid;
    border-bottom: 1px solid;
}

table th,
table td {
    border-top: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color);
    text-align: center;
    padding: 8px;

}

ul,
ul ul,
ol,
ol ol,
ol ul,
ul ol {
    padding-left: 20px;
}

.mfp-iframe-holder .mfp-close,
.mfp-image-holder .mfp-close {
    opacity: 1;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    font-size: 35px;
    right: -36px;
    padding-right: 0;
    top: -36px;
}

select:focus,
input:focus,
button:focus {
    box-shadow: none;
    outline: none;
}

.page-builder-used aside.sidebar-widget-area,
.page-builder-not-used .content-area,
.single-post.page-builder-used .containerarticle.post-details {
    margin: 120px 0;
}

.site {
    overflow-x: hidden;
}

input[type="submit"],
button[type="submit"] {
    text-transform: capitalize;
    position: relative;
    z-index: 2;
    font-size: 14px;
    font-weight: 800;
    line-height: 30px;
    padding: 15px 30px;
    display: inline-flex;
    align-items: center;
    border: none;
    border-radius: 5px;
}

.updated:not(.published) {
    display: none;
}

article.post-details .entry-content .wp-block-archives a,
article.post-details .entry-content .wp-block-latest-comments__comment-link,
article.post-details .entry-content .wp-block-latest-comments__comment-author,
article.post-details .entry-content .wp-block-latest-posts__list a,
article.post-details .entry-content .wp-block-rss__item-title a,
article.post-details .entry-content .wp-block-tag-cloud a,
article.post-details .entry-content ul li a {
    font-weight: 600;
}

article.post-details h1,
article.post-details h2,
article.post-details h3,
article.post-details h4,
article.post-details h5,
article.post-details h6,
.comments-area article h1,
.comments-area article h2,
.comments-area article h3,
.comments-area article h4,
.comments-area article h5,
.comments-area article h6 {
    margin: 30px 0 10px;
}

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
.screen-reader-text {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute !important;
    width: 1px;
    word-wrap: normal !important;
}

.screen-reader-text:focus {
    border-radius: 3px;
    box-shadow: var(--box-shedow);
    clip: auto !important;
    clip-path: none;
    display: block;
    font-size: 0.875rem;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
}

#content[tabindex="-1"]:focus {
    outline: 0;
}

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
    display: inline;
    float: left;
    margin-right: 1.5em;
    margin-bottom: 1.5em;
}

.alignright {
    display: inline;
    float: right;
    margin-left: 1.5em;
    margin-bottom: 1.5em;
    clear: both;
}

.aligncenter {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.5em;
}

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
    content: "";
    display: table;
    table-layout: fixed;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
    clear: both;
}

.content-area button[type="submit"].search-submit,
.widget.widget_search button[type="submit"] {
    padding: 5px;
    border-radius: 5px;
    height: 50px;
    width: 50px;
    top: 50%;
    margin-top: -25px;
    right: 5px;
    display: inline-block;
}

.wp-block-search__inside-wrapper button.wp-block-search__button.has-icon {
    position: absolute;
    right: 7px;
    height: 50px;
    width: 50px;
    font-size: 20px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 50%;
    transform: translate(0%, -50%);
}

li.comment-number:empty {
    display: none;
}

/** Sidebar widgets*/

.sidebar-widget-area .widget_archive select,
.sidebar-widget-area .widget_categories select {
    margin-bottom: 10px;
}

.sidebar-widget-area .widget_calendar .widget-title {
    margin-bottom: -5px;
}

.widget ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.widget ul ul {
    padding-left: 15px;
}

.widget ul li {
    border-top: 1px solid;
    position: relative;
    padding: 8px 0;
    border-color: transparent;
    font-weight: 500;
}

.widget ul li:last-child {
    padding-bottom: 0;
    margin-bottom: 0;
}

.widget ul ul li:first-of-type {
    padding-top: 10px;
    border-color: transparent;
    margin-top: 5px;
}

.widget ul ul li:first-of-type {
    margin-top: 10px;
}

.wp-block-woocommerce-product-categories ul ul li:first-of-type {
    padding-top: 0;
}

.widget select {
    max-width: 100%;
}

select {
    width: 100%;
    height: 50px;
    cursor: pointer;
}

span.post-count-number {
    font-weight: 500;
}

.widget .post-count-number {
    position: absolute;
    right: 0;
    pointer-events: none;
}

.sidebar-widget-area .widget .post-count-number {
    position: absolute;
    right: 0;
    top: 0;
    text-align: center;
    font-size: 16px;
    letter-spacing: .5px;
    transition: .3s;
    -webkit-transition: .3s;
    font-weight: 600;
}

.sidebar-widget-area .widget.widget_archive li,
.sidebar-widget-area .widget .wp-block-archives li,
.sidebar-widget-area .widget.widget_categories li,
.sidebar-widget-area .widget .wp-block-categories li,
.sidebar-widget-area .widget.widget_pages li,
.sidebar-widget-area .widget.widget_meta li,
.sidebar-widget-area .widget.widget_recent_entries li a,
.sidebar-widget-area .widget.widget_text strong,
.sidebar-widget-area .widget.widget_nav_menu a,
.sidebar-widget-area .widget_themedraft_nav_menu li {
    padding: 0;
    margin-bottom: 10px;
    line-height: 32px;
}

.sidebar-widget-area .widget.widget_themedraft_nav_menu li:last-child {
    margin-bottom: 10px;
}

.widget.widget_calendar caption,
.widget .wp-block-calendar caption {
    caption-side: top;
}

.widget.widget_calendar caption,
.wp-calendar-nav,
.widget .wp-block-calendar caption {
    text-transform: uppercase;
    font-weight: 600;
}

.widget.widget_calendar caption,
.wp-calendar-nav,
.wp-block-calendar table caption {
    text-align: left;
}

.widget .wp-block-calendar caption {
    padding-top: 0;
}

.widget table {
    margin-bottom: 20px;
}

.has-large-font-size {
    line-height: 46px;
}

p[style='font-size:46px'] {
    line-height: 56px;
}


.sidebar-widget-area .widget_themedraft_nav_menu li a:before {
    top: 14px;
}

.sidebar-widget-area .widget.widget_recent_comments li:before {
    top: 9px;
}

.sidebar-widget-area .wp-block-latest-comments__comment:before {
    top: 8px;
}

.sidebar-widget-area .wp-block-latest-posts li a:before,
.sidebar-widget-area .widget.widget_recent_entries li a:before {
    top: 10px;
}

.sidebar-widget-area .widget.widget_recent_entries li a:before,
.sidebar-widget-area .widget.widget_recent_comments li:before,
.sidebar-widget-area .wp-block-latest-comments__comment:before,
.sidebar-widget-area .wp-block-latest-posts li a:before {
    left: 0;
}

.sidebar-widget-area .widget.widget_recent_entries li a,
.sidebar-widget-area .wp-block-latest-posts li a {
    margin: 0;
    padding-left: 25px;
    line-height: 26px;
}

.sidebar-widget-area .wp-block-latest-posts li a {
    padding-left: 0px;
}

.sidebar-widget-area .widget.widget_recent_entries li,
.sidebar-widget-area .widget.widget_recent_comments li {
    border-color: transparent;
    padding: 8px 0 5px;
}

.sidebar-widget-area .widget.widget_recent_comments li,
.sidebar-widget-area .wp-block-latest-comments__comment {
    position: relative;
    font-weight: 500;
}

.sidebar-widget-area .widget.widget_recent_entries li:first-of-type,
.sidebar-widget-area .widget.widget_recent_comments li:first-of-type {
    border-color: transparent;
}

.sidebar-widget-area .widget.widget_recent_comments li {
    position: relative;
}


.widget_block.widget_recent_comments li .wp-block-latest-comments__comment-meta time {
    font-weight: 500;
    font-size: 16px;
    margin-top: 5px;
}

.sidebar-widget-area .widget.widget_meta li {
    border-bottom: 1px solid #E3E3E3;
    padding: 10px 0;
    margin-bottom: 0;
}

.sidebar-widget-area .widget.widget_meta li:last-child {
    border-bottom: none;
}

.widget.widget_recent_comments li a {
    display: inline;
}

.widget_calendar .wp-calendar-table a,
.wp-calendar-table a {
    display: block;
    color: var(--white-color);
    text-decoration: none;
}

.widget_calendar .wp-calendar-table a:hover,
.wp-calendar-table a:hover {
    color: var(--black-color);
}

.widget.widget_rss ul li {
    border-top: 0;
    padding-bottom: 15px;
}

.widget.widget_rss ul li a {
    font-size: 18px;
    padding: 0;
    display: block;
    line-height: 26px;
    margin-bottom: 5px;
    font-weight: 600;
}

.widget.widget_rss .rss-date {
    margin-bottom: 15px;
    display: block;
    margin-top: 0;
}

.widget.widget_rss cite {
    margin-top: 10px;
    display: block;
    font-weight: 600;
}

.widget.widget_text img {
    margin: 15px 0;
}

.widget.widget_tag_cloud a,
.wp-block-tag-cloud a {
    font-size: 13px !important;
    text-transform: uppercase;
    display: inline-block;
    margin-right: 5px;
    padding: 5px 16px 3px 16px;
    border-radius: 5px;
    margin-bottom: 10px;
    font-weight: 600;
    border: 1px solid var(--border-color-2);
}

.sidebar-widget-area .widget .wp-block-categories-list li {
    border-bottom: 1px solid #E3E3E3;
    padding: 10px 0;
    margin-bottom: 0;
}

.sidebar-widget-area .widget .wp-block-categories-list li:last-child {
    border-bottom: none;
}

.footer-widgets-area .widget-title,
.footer-widgets-area .widget_block h2 {
    font-size: 24px;
    margin-bottom: 30px;
    letter-spacing: .5px;
    text-transform: capitalize;
}


.footer-widgets-area .widget {
    margin-bottom: 30px;
}

.footer-widgets-area .widget ul li {
    padding: 5px 0;
}

.footer-widgets-area .widget ul ul li:first-of-type {
    margin-top: 0;
}

.footer-widgets-area .widget.widget_nav_menu ul ul li:first-of-type {
    margin-top: 10px;
}

ol.wp-block-latest-comments {
    padding-left: 0;
}

.footer-widgets-area .widget_archive ul li a,
.footer-widgets-area .wp-block-archives-list li a,
.footer-widgets-area .widget_categories ul li a,
.footer-widgets-area .wp-block-categories-list li a,
.footer-widgets-area .widget_pages ul li a,
.footer-widgets-area .widget_meta ul li a,
.footer-widgets-area .widget_nav_menu ul li a,
.footer-widgets-area .widget_themedraft_nav_menu ul li a {
    padding-left: 20px;
    position: relative;
}

.footer-widgets-area,
.footer-widgets-area a,
.footer-widgets-area .widget.widget_calendar caption,
.footer-widgets-area .wp-calendar-nav,
.footer-widgets-area .widget .wp-block-calendar caption,
.widget.footer-widtet.widget_text p {
    color: #ccced1;
}

.footer-widgets-area .widget-title,
.footer-widgets-area .widget_block h2 {
    font-size: 24px;
    margin-bottom: 35px;
    letter-spacing: .5px;
}

.footer-widgets-area .widget.widget_archive li a:before,
.footer-widgets-area .wp-block-archives-list li a:before,
.footer-widgets-area .widget.widget_categories li a:before,
.footer-widgets-area .wp-block-categories-list li a:before,
.footer-widgets-area .widget.widget_pages li a:before,
.footer-widgets-area .widget.widget_meta li a:before,
.footer-widgets-area .widget.widget_nav_menu li a:before,
.footer-widgets-area .widget.widget_themedraft_nav_menu li a:before,
.footer-widgets-area .widget_recent_comments li:before,
.footer-widgets-area .widget_recent_entries li a:before,
.footer-widgets-area .wp-block-latest-posts__list li a:before,
.footer-widgets-area .wp-block-pages-list__item__link:before {
    position: absolute;
    content: "";
    left: 0;
    top: 50%;
    height: 2px;
    width: 10px;
    margin-top: -1px;
    transition: .3s;
}

.footer-widgets-area .widget.widget_categories li a:before {
    margin-top: 1px;
}

.footer-widgets-area .widget_recent_comments li,
.footer-widgets-area .widget_recent_entries li a,
.footer-widgets-area .wp-block-latest-posts__list li a,
.footer-widgets-area .wp-block-pages-list__item__link {
    padding-left: 20px !important;
}

.footer-widgets-area .widget_recent_comments li:before,
.footer-widgets-area .widget_recent_entries li a:before,
.footer-widgets-area .wp-block-latest-posts__list li a:before,
.footer-widgets-area .wp-block-pages-list__item__link:before {
    top: 19px;
    left: 0;
}

.footer-widgets-area .widget .wp-block-pages-list__item:first-of-type {
    padding-top: 5px;
}

.footer-widgets-area .widget.widget_rss li {
    margin-bottom: 15px;
}

.footer-widgets-area .wp-block-latest-comments__comment {
    margin-bottom: 0;
    padding: 5px 0;
    position: relative;
}

.footer-widgets-area .has-avatars.has-dates.has-excerpts.wp-block-latest-comments .wp-block-latest-comments__comment {
    margin-bottom: 10px
}

.footer-widgets-area .widget strong {
    color: #cbcbcb;
}

.footer-widgets-area .widget_archive select,
.footer-widgets-area .widget_categories select {
    margin-top: 12px;
}

.footer-widgets-area .widget_search .widget-title,
.footer-widgets-area .widget_tag_cloud .widget-title {
    margin-bottom: 53px;
}

.footer-widgets-area .widget_text .widget-title {
    margin-bottom: 45px;
}

.widget.widget_nav_menu ul li {
    padding: 5px 0;
}

.widget.widget_nav_menu ul ul li:first-of-type {
    margin-top: 0;
    padding-top: 0;
}

.widget_archive select,
.widget_categories select,
.widget_text select,
.wp-block-archives-dropdown select,
.wp-block-categories-dropdown select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 11px 15px;
    border-radius: 5px;
    position: relative;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' height='10px' width='15px'%3E%3Ctext x='0' y='10' fill='gray'%3E%E2%96%BE%3C/text%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 5px center;
    background-clip: border-box;
    -moz-background-clip: border-box;
    -webkit-background-clip: border-box;
}

blockquote.wp-block-quote,
blockquote {
    font-size: 19px;
    font-style: italic;
    line-height: 30px;
    padding: 35px 25px;
    margin: 30px 0;
    border-radius: 0 10px 10px 0;
    position: relative;
    border-left: 5px solid;
}


.wp-block-columns.alignwide blockquote.wp-block-quote {
    margin-top: 8px;
}

.widget.widget_block a.wp-block-latest-comments__comment-link {
    display: inline;
    line-height: 1.8;
}

.wp-block-quote.has-text-align-right {
    border-radius: 0;
    padding: 30px;
}

blockquote.wp-block-quote:before,
blockquote:before {
    position: absolute;
    content: '\f10d';
    font-family: "Font Awesome 5 Free";
    font-size: 90px;
    font-weight: 900;
    opacity: .1;
    left: 30px;
    top: 50px
}

blockquote cite,
.wp-block-quote__citation,
.wp-block-quote cite,
.wp-block-quote footer,
.wp-block-pullquote__citation,
.wp-block-pullquote cite,
.wp-block-pullquote footer {
    font-weight: 600;
    font-style: italic;
    font-size: 18px;
}

.wp-block-quote.is-large,
.wp-block-quote.is-style-large,
.wp-block-quote.is-large:not(.is-style-plain),
.wp-block-quote.is-style-large:not(.is-style-plain) {
    padding: 35px 25px;
    border-left: 4px solid var(--theme-color) !important;
}

article.post-details .entry-content a {
    font-weight: 600;
}

article.post-details .entry-content .wp-block-archives a,
article.post-details .entry-content .wp-block-latest-comments__comment-link,
article.post-details .entry-content .wp-block-latest-comments__comment-author,
article.post-details .entry-content .wp-block-latest-posts__list a,
article.post-details .entry-content .wp-block-rss__item-title a,
article.post-details .entry-content .wp-block-tag-cloud a,
article.post-details .entry-content ul li a {
    font-weight: 600;
}

.comment-content a {
    word-wrap: break-word;
}

.post-password-form input[type="password"] {
    border-radius: 5px;
    margin-top: 15px;
}

form.post-password-form input[type='submit'] {
    padding: 22px 30px 21px;
    line-height: 1;
    outline: none;
    border: 2px solid transparent;
}

.entry-content ol li,
.entry-content ul li {
    margin-bottom: 5px;
}

.post-details strong,
.post-details b,
figcaption {
    font-weight: 600;
}

.entry-content table {
    width: auto;
}

.entry-content table th,
.entry-content table td {
    padding: 15px;
}

.post-details .wp-block-calendar tfoot {
    border: 1px solid;
}

li.pingback,
li.trackback {
    border: 2px solid;
    padding: 10px;
    margin-bottom: 20px;
}

ul ol li:before {
    display: none;
}

ul ol li {
    padding-left: 0 !important;
}

ul ol li ul li:before {
    display: block;
}

.page p img {
    margin-bottom: 30px;
}

/*************************************
            Comment Css
-*************************************/

.comments-area {
    margin-top: 80px;
}

.comments-title {
    font-size: 27px;
    border-bottom: 2px solid;
    padding-bottom: 15px;
    margin-bottom: 30px;
}

ol.comment-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.comment ol.children {
    list-style: none;
    padding-left: 50px;
}

.comment span.says {
    display: none;
}

.comment-author.vcard,
footer.comment-meta {
    position: relative;
}

.comment-author.vcard img {
    border-radius: 50%;
    height: 90px;
    width: 90px;
    margin-top: -5px;
}

.comment-author.vcard .fn {
    font-size: 20px;
    position: absolute;
    left: 110px;
    top: -10px;
    text-transform: capitalize;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.comment-author.vcard .fn a {
    font-weight: 600;
}

.bypostauthor {
    display: block;
}

.bypostauthor .comment-author.vcard .fn:after {
    content: "\f02e";
    font-family: "Font Awesome 5 Free";
    font-size: 13px;
    top: 0;
    margin-left: 10px;
    position: relative;
    line-height: 1;
    font-weight: 900;
}

.comment-metadata {
    position: absolute;
    left: 110px;
    top: 20px;
}

.comment-metadata time {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
}

em.comment-awaiting-moderation {
    font-weight: 500;
    color: #1d1d1d;
    display: block;
    padding-left: 110px;
    margin-top: -25px;
    margin-bottom: 35px;
}

.comment-metadata span.edit-link,
span.edit-link {
    display: none;
}

.comment .comment-content {
    position: relative;
    padding-left: 110px;
    margin-top: -25px;
}

.comment article {
    margin-top: 15px;
    padding: 15px 15px 15px 0;
    border-bottom: 2px solid;
    position: relative;
}

.comment-list li:last-child .comment-body {
    border-bottom: 0;
}

.comment-list li .children .comment-body {
    border-bottom: 2px solid;
}

.comment-content img {
    margin-top: 30px;
    margin-bottom: 30px;
}

.comment-body .reply {
    position: absolute;
    right: 0;
    top: 8px;
}

.comments-area .reply a {
    position: relative;
    padding-left: 25px;
    font-weight: 600;
}


.comment-body .reply a:before {
    content: "\f122";
    font-family: "Font Awesome 5 Free";
    position: absolute;
    left: 3px;
    top: 0;
}

.comment-content a,
.comment-body a {
    word-wrap: break-word;
    font-weight: 600;
}

.comment-content li {
    font-weight: 600;
    margin: 8px 0;
}

/********************************** 
        Comment Respond Form 
**********************************/

.comments-heading {
    font-size: 25px;
    margin-bottom: 5px;
}

#cancel-comment-reply-link {
    margin-left: 10px;
    font-size: 20px;
    font-weight: 700;
}

#cancel-comment-reply-link:hover {
    text-decoration: underline;
}

.comment-respond {
    margin-top: 30px;
    padding: 35px 45px 30px 45px;
    border-radius: 15px;
}

.tp-comment-input {
    position: relative;
    margin-bottom: 30px;
}

.tp-comment-input input,
.tp-comment-input textarea {
    margin-bottom: 0;
}

.tp-comment-input i {
    position: absolute;
    right: 20px;
    font-size: 18px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
}

.comment-message.tp-comment-input i {
    top: 30px;
}

li.comment .comment-respond {
    margin-bottom: 45px;
    margin-top: 45px;
}

.comment-form .comment-form-wrap {
    margin: 25px -45px 0 -45px;
    border-top: 2px solid;
    padding: 35px 30px 0 30px;
}

.comment-message textarea {
    height: auto;
}

.comment-form-cookies-consent label {
    display: inline;
    margin-left: 10px;
}

.comment-form .comment-message {
    margin-top: 10px;
}

.comment-form-wrap ::-webkit-input-placeholder,
.comment-form-wrap :-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    opacity: 1;
}

.comment-form-wrap ::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    opacity: 1;
}

.comments-area button.td-button i,
.woocommerce-Reviews button.td-button i {
    font-size: 14px;
}

/* Comment Respond Form End */

/* Block Style */
article.post-details .entry-content .wp-block-button__link,
article.post-details .entry-content .wp-block-file .wp-block-file__button {
    font-weight: 500;
    margin-bottom: 15px;
    font-size: 16px;
}

.is-style-squared .wp-block-button__link {
    border-radius: 0;
}

article.post-details .entry-content .is-style-outline .wp-block-button__link {
    background-color: transparent;
}


.wp-block-cover {
    margin-bottom: 20px;
    margin-top: 10px;
}



.wp-block-video figcaption {
    font-size: 16px;
    margin-top: 15px;
}

.wp-block-embed {
    margin-bottom: 30px;
}

.post-details .wp-block-archives.wp-block-archives-list,
.post-details .wp-block-archives.wp-block-archives-dropdown,
.post-details .wp-block-archives.wp-block-archives-dropdown label,
.post-details .wp-block-categories.wp-block-categories-list,
.post-details .wp-block-latest-comments,
.post-details .wp-block-latest-posts,
.wp-block-search__inside-wrapper {
    margin-bottom: 20px;
}

p.wp-block-tag-cloud {
    margin-bottom: 0;
}

.post-details .wp-block-latest-comments li {
    margin-bottom: 20px;
}

article.post-details .wp-block-calendar {
    display: inline-block;
    margin: 35px 0 45px;
}

article.post-details .wp-block-calendar nav.wp-calendar-nav {
    text-align: right;
    margin-top: -76px;
    padding-right: 15px;
}

.post-details .wp-block-categories.wp-block-categories-dropdown {
    margin-bottom: 40px;
}

.post-details .entry-content .wp-block-latest-comments__comment img {
    margin-top: 0;
}

.post-details .wp-block-search .wp-block-search__button {
    margin-left: 0;
    margin-bottom: 30px;
    border: 0;
    border-radius: 0 5px 5px 0;
    padding: 10px 30px;
}

article.post-details .wp-block-calendar tfoot,
article.post-details .wp-block-calendar .wp-calendar-table caption {
    border: 1px solid;
    padding: 15px;
}

.post-details ol.wp-block-latest-comments {
    padding-left: 0;
}

.wp-block-latest-posts__post-date {
    font-size: 15px;
}

.wp-block-group.has-background {
    margin: 30px 0 !important;
}

.wp-block-media-text {
    margin-bottom: 20px;
}

.post-details .entry-content .wp-block-media-text__media img {
    margin-top: 0;
}

.post-details .wp-block-table.is-style-stripes {
    border: 1px solid;
}

.post-details figure.wp-block-table.is-style-stripes table {
    margin: 0;
}

.post-details ul.wp-block-latest-posts__list.wp-block-latest-posts {
    padding-left: 0;
}

.wp-block-search__inside-wrapper {
    position: relative;
}

.wp-block-search .wp-block-search__input {
    margin-bottom: 0;
    max-width: 100%;
}

.wp-block-search__label {
    margin-bottom: 10px;
}

button.wp-block-search__button {
    position: absolute;
    right: 0;
    height: 100%;
}

.page-links .post-page-numbers:first-child {
    margin-left: 15px;
}

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation,
.infinite-scroll.neverending .site-footer {
    /* Theme Footer (when set to scrolling) */
    display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
    display: block;
}

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
    border: none;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
    max-width: 100%;
}

/* Make sure logo link wraps around logo image. */
.custom-logo-link {
    display: inline-block;
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
    margin-bottom: 1.5em;
    max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.wp-caption .wp-caption-text {
    margin: 0.8075em 0;
}

.wp-caption-text {
    text-align: center;
}

.blocks-gallery-caption,
.wp-block-embed figcaption,
.wp-block-image figcaption,
figcaption {
    font-size: 17px;
    margin-top: 20px !important;
    font-weight: 600;
}

figure.wp-container-2.wp-block-gallery-1.wp-block-gallery.columns-3.is-cropped.alignfull {
    margin-bottom: 30px;
}

figure.wp-container-4.wp-block-gallery-3.wp-block-gallery.columns-2.is-cropped.alignleft.extraclass {
    margin-top: 10px;
    margin-right: 20px;
}

.wp-block-image .alignright {
    float: right;
    margin-right: 0;
    margin-left: 1em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.post-details .entry-content img {
    margin-top: 20px;
    margin-bottom: 5px;
}

.post-content-tags {
    width: 100%;
    overflow: hidden;
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
    margin-bottom: 1.5em;
}

.gallery-item {
    display: inline-block;
    text-align: center;
    vertical-align: top;
    width: 100%;
}

.gallery-columns-2 .gallery-item {
    max-width: 50%;
}

.gallery-columns-3 .gallery-item {
    max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
    max-width: 25%;
}

.gallery-columns-5 .gallery-item {
    max-width: 20%;
}

.gallery-columns-6 .gallery-item {
    max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
    max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
    max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
    max-width: 11.11%;
}

.gallery-caption {
    display: block;
}

.entry-content ul li.blocks-gallery-item:before {
    content: '';
}

.wp-block-gallery {
    margin-bottom: 30px;
}

.entry-content ul li.blocks-gallery-item {
    padding-left: 0;
    margin-top: 10px;
    margin-bottom: 10px;
}

.wp-block-gallery .blocks-gallery-image figcaption,
.wp-block-gallery .blocks-gallery-item figcaption {
    font-weight: 600;
}

.blocks-gallery-grid .blocks-gallery-image figcaption,
.blocks-gallery-grid .blocks-gallery-item figcaption,
.wp-block-gallery .blocks-gallery-image figcaption,
.wp-block-gallery .blocks-gallery-item figcaption,
.blocks-gallery-grid:not(.has-nested-images) .blocks-gallery-image figcaption,
.blocks-gallery-grid:not(.has-nested-images) .blocks-gallery-item figcaption,
.wp-block-gallery:not(.has-nested-images) .blocks-gallery-image figcaption,
.wp-block-gallery:not(.has-nested-images) .blocks-gallery-item figcaption {
    font-size: 16px;
    margin-top: 0;
    bottom: 0;
    line-height: 26px;
}

ul.blocks-gallery-grid li:before {
    display: none;
}

.wp-block-gallery .blocks-gallery-item figure img {
    margin-top: 0;

}

.gallery-item figcaption {
    font-weight: normal;
}

figure.wp-block-audio {
    margin: 30px 0;
}